%input-style {
  width: 100%;
  max-width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem;
  color: $text-color;
  border: 1px solid var(--secondary-lighten-color);
  border-radius: $radius;
  background: var(--white-color);
  transition: border-color 200ms $ease-in;
}

fieldset {
  width: 100%;
}

legend {
  font-weight: $bold;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

textarea {
  height: 8rem;
}

textarea,
input {
  @extend %input-style;

  &:hover,
  &:focus,
  &:focus + label {
    border: 1px solid var(--primary-color);
  }
}

.form {
  &-group {
    display: flex;
    flex-wrap: wrap;

    @include mq($from: tablet) {
      justify-content: space-between;
    }
  }

  &-field {
    flex: 1 1 100%;
    display: block;
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
    position: relative;

    @include mq($from: tablet) {
      flex: 0 1 calc(50% - 0.5rem);
    }

    // STATE ERROR
    .ng-invalid.ng-touched:not(form) {
      border: 2px solid var(--red-color);
    }

    &--actions {
      display: flex;
      padding-top: 1rem;

      @include mq($from: tablet) {
        flex: 1 1 100%;
      }
    }

    &--full {
      @include mq($from: tablet) {
        flex: 1 1 100%;
      }
    }

    small {
      color: var(--red-color);
      font-style: italic;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-fieldset {
    position: relative;

    .button-primary {
      position: absolute;
      top: -0.625rem;
      right: 1.5rem;
    }

    // Si tiene una accion mediante un boton cambia
    // la disposicion de los campos en el layout
    &.has-action {
      .button-tertiary {
        height: 2.5rem;
        transform: translate3d(0, 1.625rem, 0);

        > span {
          display: inline-block;
          transform: rotate(45deg);
        }
      }

      .form-group {
        align-items: flex-start;
      }

      .form-field {
        flex: 1;
        padding-right: 1rem;
      }
    }
  }
}
