// Dev
//-----------
$dev: #f06;
$dev-1: rgb(20, 140, 220);
$dev-2: rgb(125, 34, 178);
$dev-3: yellowgreen;

// Namespace
// -----------
$namespace: 'mamutlove';

// Brand Colours
//-----------
:root {
  // --primary-lighten-color: #59efe0;
  // --primary-darken-color: #3fd8c9;
  // --secondary-lighten-color: #e9e9e9;
  // --secondary-darken-color: #adadad;
  // --tertiary-color: #6b3870;
  // --tertiary-lighten-color: lighten(var(--tertiary-color), 10%);
  // --tertiary-darken-color: darken(var(--tertiary-color), 10%);

  --mamut: #ff0066;
  --mamut-shadow: #333333;
  --black: #474646;
  --light-grey: #f7f7f7;
  --white: #ffffff;
}

// Text Colours
//-----------
$text-color: var(--black);
// $text-button-color: var(--white-color);
