// Fonts
//-----------
// @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Quicksand:400,700|Raleway:400,700');
// @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700|PT+Serif:400,700|Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|PT+Serif:400,700');

// $ff-sans-serif: 'Oxygen', sans-serif;
// $ff-sans-serif: 'Quicksand', sans-serif;
$ff-sans-serif: 'Montserrat', sans-serif;
// $ff-sans-serif: 'Raleway', sans-serif;
// $ff-serif: 'Roboto Slab', serif;
// $ff-serif: 'Noto Serif', serif;
$ff-serif: 'PT Serif', serif;

// Font weight
//-----------
$regular: 400;
$bold: 700;
