// Dev
// -------
@mixin dev($color: $dev) {
  border: 2px dashed $color;
}

@mixin animate-show(
  $offsetY: 1rem,
  $duration: 750ms,
  $function: $ease-out,
  $delay: 100ms
  ) {
  opacity: 0;
  transform: translate(0, $offsetY);
  animation: {
    name: show;
    duration: $duration;
    timing-function: $function;
    delay: $delay;
    fill-mode: forwards;
  }
}

//  Aspect Ratio for VIDEOS
//
//  --- USAGE:
//
//  .video {
//    @include aspect-ratio( 16, 9 );
//  }

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(1 / (#{$height} / #{$width}) * 100%);
  }

  > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
