:root {
  --wrapper-width: 60rem;
}

// Easing
//-----------
//
// http://cubic-bezier.com/
// ease-in fast->slow
// ease-out slow->fast
$ease-in: cubic-bezier(0, 0, 0.24, 0.9);
$ease-out: cubic-bezier(0.59, 0, 0.68, 0.69);
$ease-in-bounce: cubic-bezier(0.03, 0.27, 0.49, 1.22);
$ease-out-bounce: cubic-bezier(0.59, 0, 0.59, 1.48);
$ease-linear: cubic-bezier(0.03, 0.27, 0.44, 0.93);
$ease-extreme: cubic-bezier(0.68, -0.55, 0.26, 1.55);
// cubic-bezier(0.02, 0.68, 0.79, 0.99)

// Timing
//-----------
$fast: 150ms;
$medium: 250ms;
$slow: 350ms;
$ultraSlow: 3000ms;

// Z-index
//-----------
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 100,
  overlay: 300,
  modal: 400,
  spinner: 500,
);

// Utilities
//-----------
$radius: 0.125rem;
