<!-- <section class="intro">
  <div class="logo" style="width: 10rem">
    <figure class="logo__figure">
      <img src="assets/images/logo-mamutlove.svg" alt="Logo de Mamutlove" />
    </figure>
  </div>
  <h1 class="intro__title">Mamutlove</h1>
  <p class="intro__description">
    Diseñamos y construimos interfaces de usuario pensando en el usuario
  </p>
  <div class="tac">
    <a class="button-primary" [routerLink]="['../mamut/alejandro']"
      >Alejandro</a
    >
    <a class="button-primary" [routerLink]="['../mamut/nora']">Nora</a>
  </div>
</section> -->
<a class="mamut" [routerLink]="['../mamut']"
  >mamut
  <!-- <img src="assets/images/logo-mamutlove.svg" alt="Logo de Mamutlove" /> -->
</a>
<a class="alejandro" [routerLink]="['../mamut/alejandro']">alejandro</a>
<a class="nora" [routerLink]="['../mamut/nora']">nora</a>
<a class="portfolio" [routerLink]="['../portfolio']">portfolio</a>
<a class="blog" [routerLink]="['../blog']">blog</a>
<!-- <section>
</section> -->
